/*
приклад підключення локального шрифту
@font-face {
    font-family: 'virgo_01regular';
    src: url('../fonts/virgo-webfont.eot');
    src: url('../fonts/virgo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/virgo-webfont.woff2') format('woff2'),
         url('../fonts/virgo-webfont.woff') format('woff'),
         url('../fonts/virgo-webfont.ttf') format('truetype'),
         url('../fonts/virgo-webfont.svg#virgo_01regular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:wght@300&display=swap');