@import "fonts.css";

/*
font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/

header{
    background: url("../img/header.png") no-repeat;
    background-size: cover; 
    padding-top: 28px;
}
header .logo{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
}

header nav ul{
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
header nav ul li{
	margin: 0 30px 0 30px;
}
header nav ul li:last-child{
	margin: 0 0 0 20px;
}
header nav ul li:nth-child(6){
	margin: 0;
}
header nav ul li a{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 14px;
	color: #ffffff;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 0 10px 0;
	box-sizing: border-box;

}
header nav ul li a:hover{
	color: #fce38a;
	text-decoration: none;
	border-bottom: 3px solid #fce38a;
}
header h1{
	font-family: 'Kaushan Script', cursive;
	font-size: 72px;
	line-height: 72px;
	color: #ffffff;
	margin-top: 150px;
}
header h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 150px;
	line-height: 150px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
}
header h3.line{
	display: block;
	width: 60px;
	height: 3px;
	box-sizing: border-box;
	background-color: #ffffff;
	margin-bottom: 50px;
	margin-top: 50px;
}
header .btn.btn-bordered{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	color: #ffffff;
	padding: 13px 30px;
	border:3px solid #ffffff;
	border-radius: 0;
	margin-bottom: 150px;
}
header .btn.btn-bordered:hover{
	color: #fce38a;
	border: 3px solid #fce38a;
}

header .slide-items{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	color: #ffffff;
	border-top: 3px solid rgba(255,255,255,.5);
	padding: 25px 0;
	position: relative;
	box-sizing: border-box;
}
header .slide-items:hover:before{
	content: "";
	display: block;
	position: absolute;
	width:100%;
	height: 3px;
	top: -3px;
	left: 0;
	box-sizing: border-box;
	background:linear-gradient(to right, #f38181,#f38181 30%,rgba(255,255,255,1) 30%) ;
}

header .slide-items span{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 24px;
	padding-right: 10px;
}
#about-us{
	margin-top: 90px;
}
h3.title-action{
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	line-height: 24px;
	color: #333333;
	margin-bottom: 20px;
}
h3.title-action:first-letter{
	text-transform: uppercase;
}
h2.title{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 40px;
}
.title-line{
	width: 60px;
	height: 3px;
	box-sizing: border-box;
	background: #f38181;
	margin-bottom: 45px; 
}
.description{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #999999;
}

.img-preview{
	position: relative;
}

.img-preview>img{
	display: block;
	width: 100%;
	height: auto;
}

.img-preview>.hover{
	position: absolute;
	top: -10px;
	left: -10px;
	width: 100%;
	height: 100%;
	background: url("../img/hover-bg.png") no-repeat;
	background-size: cover;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	transition: 0.7s opacity;
}
.img-preview>.hover .content{
	margin-top: 10px;
}
.img-preview:hover .hover{
	opacity: 1;
}
.bg-fact{
	background-color: #95e1d3;
}
.m-100{
	margin: 100px 0 100px 0;
}
#facts>div:first-child .fact{
	border-left: 1px solid #ffffff;
}

.fact{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:80px 5px 80px 5px;
	border-right: 1px solid #ffffff;
	color: #ffffff;
	height: 100%;
}
.fact h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 72px;
	text-transform: uppercase;
}
.fact p{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
}
/*service*/
.br-bottom{
	border-bottom: 1px solid #e5e5e5; 
}
.mr-top-30{
	margin-top: 30px;
}
.service{
	padding: 15px;
}
.service img{
	display: block;
}
.service h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333333;
	text-transform: uppercase;
	font-weight: 700;

}
.service p{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #999999;
}

/*feauture*/
#feauture{
	margin-top: 100px;
}
/*we do*/
.mg-top-30{
	margin-top: 30px;
}
.accordion_>.card_>label{
        margin: 0;
      }
.card_{
        border:1px solid #e5e5e5;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 55px;
        overflow: hidden;
    }
.card-header_{
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #333333;
        padding: 20px 0 20px 60px;
        box-sizing: border-box;
        border-bottom: 1px solid #e5e5e5;
        cursor: pointer;
      }
.card-content_{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #999999;
        padding: 20px;
        text-align: left;
        overflow-y: scroll;
        max-height: 180px;
        margin-right: 20px;

      }
      		/* Track */
.card-content_::-webkit-scrollbar-track {
            background: #f5f5f5;
            border-radius: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
          }

          /* Handle */
.card-content_::-webkit-scrollbar-thumb {
            background: #95e1d3;
            border-radius: 10px;
          }

          /* Handle on hover */
          .card-content_::-webkit-scrollbar-thumb:hover {
	           background: #95e1d3;
          }
          .card-content_::-webkit-scrollbar {
            width: 5px;
          }
          #heading-one_{
            background: url(../img/photo.png) no-repeat left 15px center,
            url("../img/arrow-down.png") no-repeat right 15px center;
          }
          #heading-two_{
            background: url(../img/creat.png) no-repeat left 15px center,
            url("../img/arrow-down.png") no-repeat right 15px center;
          }
          #heading-three_{
            background: url(../img/bull.png) no-repeat left 15px center,
            url("../img/arrow-down.png") no-repeat right 15px center;
          }
          #heading-one_:hover{
          	cursor: pointer;
          }
          input[name="accr"]{
          	display: none;
          }
          #r1:checked~#card_1{
          		overflow: unset;
          		height: initial;   
          }
         
          #r2:checked~#card_2{
          		overflow: unset;
          		height: initial;   
          }
          #r3:checked~#card_3{
          		overflow: unset;
          		height: initial;         
          		      
          }
/*quote section*/
.bg-quote{
	background-color: #f8f8f8;
}
.ptb-50{
	padding:50px 0 50px 0;
}
.quote{
	display: flex;
	flex-direction: row;
}
.quote-content{
	 font-family: 'Roboto', sans-serif;
     font-size: 24px;
     color: #999999;
}
.author{
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: #333333;
	padding-left: 72px;
	position: relative;
}
.author:before{
	content: "";
	width: 60px;
	height: 3px;
	position: absolute;
	background: #f38181;
	box-sizing: border-box;
	top: 50%;
	left: 0;
}

/*team*/
.mg-top-60{
	margin-top: 60px;
}
#team .img-preview>.hover{
	background: url(../img/team-bg.png) no-repeat;
}
#team .img-preview>.hover .content{
	display: flex;
	flex-direction: row;
}
#team .img-preview>.hover .content a{
	display: block;
	padding: 10px;
	background: #fce38a;
}
#team .img-preview>.hover .content a:hover{
	background: #f38181;
}
.username{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #333333;
	text-transform: uppercase;
	margin-top: 20px;
}
.occupation{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #999999;
}
.no-mrg{
	margin: 0;
}
.ptb-30{
	padding: 30px 0 30px 0;
}
/*work*/
#work .img-preview>img{
	margin: 0;
}
#work .img-preview>.hover{
	top: 0;
	left: 0;
	background: url("../img/layer-hover-bg.png") no-repeat;
	background-size: cover;
}
#work .img-preview>.hover img{
	width: 100%;
	height: auto;
}
#work .img-preview>.hover .content{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	margin: 0;
}
#work .img-preview>.hover .content>img{
	width: auto;
	margin-bottom: 10px;
}
#work .img-preview>.hover .content h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
	margin: 0;
}
#work .img-preview>.hover .content p{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 100;
	color: #ffffff;
	text-transform: initial;
	margin: 0;
}
/*clients*/
#clients{
	background: url(../img/clients.png) no-repeat;
	background-size: cover;
	padding: 90px 0 90px 0;
}
.user-photo>img{
	width: 100%;
}
.user-content .line{
	display: block;
	width: 60px;
	height: 3px;
	box-sizing: border-box;
	background-color: #f38181;
	margin-bottom: 10px;
	margin-top: 10px;
}
.user-content>h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #333333;
}
.user-content>h2{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-style: italic;
	color: #333333;
}
.user-content>p{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #999999;
	text-align: left;
	margin: 0;
}
.pd-left-10{
	padding-left: 10px; 
}
/*blog*/
.blog .blog-image{
	position: relative;
}
.blog .blog-image img{
	width: 100%;
	height: auto;
}
.blog .blog-image .publication{
	position: absolute;
	bottom: 10px;
	left: -10px;
	background-color: #95e1d3;
	color: #ffffff;
	padding: 15px;
	text-align: center;
}
.blog .blog-image .publication h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin: 0;
}
.blog .blog-image .publication h3{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-style: italic;
	margin: 0;
}
.blog .blog-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #333333;
}
.blog .blog-content{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #999999;
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}
.blog .blog-info{
	display: flex;
	margin-top: 10px;
}
.blog .blog-info .blog-view{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 15px;
	color: #999999;
	font-style: italic;
	background: url("../img/view.png") no-repeat left center;
	text-indent: 25px;
	margin-right: 10px;
}
.blog .blog-info .blog-comment{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 15px;
	color: #999999;
	font-style: italic;
	background: url("../img/comment.png") no-repeat left center;
	text-indent: 25px;
	margin-right: 10px;
}
/*map*/
#map{
	background: url("../img/map-bg.png") no-repeat;
	background-size: cover;
	padding: 30px 0 30px 0;
}
#map h3.title-action{
	font-size: 24px;
	color: #f38181;
	margin-bottom: 10px;
}
#map h2.title{
	font-size: 24px;
	color: #f38181;
	margin-bottom: 10px;
}
#map .title-line{
	margin: 0;
}
/*footer*/
footer{
	margin-bottom: 30px;
}
.footer-subscribe .footer-logo{
	font-family: 'Montserrat', sans-serif;
	font-size: 46px;
	line-height: 46px;
	font-weight: 600;
	color: #cccccc;
}
.footer-subscribe .footer-description{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 15px;
	color: #999999;
	padding: 30px 0 30px 0;
}
.footer-subscribe .footer-followers{
	display: flex;
	padding-bottom: 15px;
	border-bottom: 1px solid #e5e5e5;
}
.footer-subscribe .footer-followers>h3,.footer-subscribe .footer-followers>p{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #333333;
	margin: 0;
	line-height: 18px;
}
.footer-subscribe .footer-followers>p{
	font-weight: 100;
	padding-left: 5px;
}
.footer-subscribe .footer-follow-us{
	display: flex;
	justify-content: space-between;
	padding: 15px 0 15px 0;
}
.footer-subscribe .footer-follow-us h3{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 15px;
	font-style: italic;
	color: #999999;
}
.footer-subscribe .footer-follow-us i{
	color: #95e1d3;
}
.footer-subscribe .footer-follow-us i:hover{
	color: #fce38a;
	cursor: pointer;
}
.footer-subscribe .footer-form form input[type="email"]{
	width: 100%;
	background-color: #ffffff;
	padding: 13px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 15px;
	line-height: 15px;
	color: #cccccc;
	border-radius: none;
	border: 1px solid #e7e7e7;
	border-right: none; 
	box-sizing: border-box;
	outline: none;
}
.footer-subscribe .footer-form form input[type="email"]:focus{
	border-radius: none;
	border: 1px solid #e7e7e7;
	border-right: none;  
}
.footer-subscribe .footer-form form button{
	width: 100%;
	background-color: #95e1d3;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	border: 1px solid #95e1d3;	
	border-radius: 0;
	box-sizing: border-box;
	padding: 15px 0 15px 0;
	transition: .2s background border;
}
.footer-subscribe .footer-form form button:focus{
	outline: none;
	border: 1px solid #95e1d3;	
}
.footer-subscribe .footer-form form button:hover{
	background: #f38181;
	border: 1px solid #f38181;
}
/*footer blogs*/
.footer-glogs{
	margin-bottom: 25px;
}
.footer-title{
	font-family: 'Montserrat',sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 14px;
	padding-bottom: 30px;
}
.footer-glogs img{
	width: 100%;
	height: auto;
}
.footer-glogs .footer-blogs-item-title{
	font-family: 'Montserrat',sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: 600;
	padding-left: 15px;
}
.footer-glogs .footer-blogs-item-publication{
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	line-height: 13px;
	color: #999999;
	font-style: italic;
	padding-left: 15px;
}
/*footer instagram*/

footer .more{
	font-family: 'Roboto';
	font-size: 13px;
	font-style: italic;
	color: #999999;
	padding: 0;
	margin-top: 10px;
}
footer .wrapper{
	padding: 1px;
}
footer .wrapper img {
	margin: 0px;
}